body{
    color: #555;
}
a{
    color: #32a2d5;
}
li{
    margin: 5px;
}
#content{
    float: left;
    width: 65%;
    padding: 10px;
}

#sidebar{
    float: right;
    width: 30%;
    padding: 10px;
    background-color: #ccc;
}