{% extends "base.html" %}

{% block title %}Publisher detail information{% endblock %}

{% comment %}
{% block content %}
    <table>
        <tr>
            <td>出版社</td>
            <td>{{ publisher.name }}</td>
        </tr>
        <tr>
            <td>省份</td>
            <td>{{ publisher.state_province }}</td>
        </tr>
    </table>
    <br>
    {% for book in book_list %}
        <li>{{ book.title }}</li>
    {% endfor %}
{% endblock %}
{% endcomment %}

{% block content %}
    <h2>Publisher {{ publisher.name }}</h2>

    <ol>
      {% for book in page_obj %}
        <li>{{ book.title }}</li>
      {% endfor %}
    </ol>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}